* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url(images/manja-vitolic-cat.jpg);
    background-size: cover;
    background-position: top center;
}

main {
    padding: 20px;
    text-align: center;
    color: #353535;
}

header {
    margin-top: 100px;
    text-align: center;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 7px;
    color: #f9f9f9;
}

.quizbox {
    position: relative;
    background-color: #f9f9f9;
    width: 450px;
    height: 400px;
    padding: 55px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}

.quizbox button {
    position: absolute;
    left: 50%;
    margin-left: -50%;
    bottom: 50px;
    width: 110px;
    height: 55px;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 18px;
}

header ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.submit,.next,.again{
    display: none;
}

fieldset {
    border: 0;
}

fieldset legend {
    font-size: 22px;
    font-weight: bold;
}

.just-answers > div {
    display: block;
}

.question {
    font-size: 18px;
}

