* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-image: url(images/manja-vitolic-cat.jpg);
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
}

main {
    padding: 20px;
    text-align: center;
    color: #353535;
}

header {
    margin-top: 100px;
    text-align: center;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f9f9f9;
    border-radius: 7px;
    color: #f9f9f9;
    background-color: rgba(40, 40, 40, .40);
}

.quizbox {
    position: relative;
    background-color: #f9f9f9;
    width: 450px;
    height: 400px;
    padding: 55px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}

.button {
    position: absolute;
    left: 50%;
    margin-left: -55px;
    bottom: 65px;
    width: 110px;
    height: 55px;
    border-radius: 7px;
    border: none;
    color: rgb(43, 43, 43);
    background-color: rgb(214, 214, 214);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.button:hover {
    border: 1.5px solid rgb(126, 126, 126);
}

.question, .just-answers {
    text-align: left;
}

.just-answers {
    margin-top: 5px;
}

.just-answers h2 {
    text-align: center;
}

.final-message {
    font-size: 28px;
    font-weight: bold;
}

header ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Verdana;
    font-weight: bold;
}

.submit,.next,.again{
    display: none;
}

fieldset {
    border: 0;
}

fieldset legend {
    font-size: 22px;
    font-weight: bold;
}

.just-answers > div {
    display: block;
}

.question {
    font-size: 18px;
}

@media only screen and (max-width: 450px) {
  
    main {
        padding: 10px;
    }

    header {
        width: 75%;
        margin-top: 55px;
    }  

    .quizbox {
        width: 75%;
        padding: 15px;
    }

    .question {
        font-size: 90%;
    }

    .just-answers {
        font-size: 90%;
    }

    .begin {
        bottom: 175px;
    }

    .submit, .next {
        bottom: 35px;
    }
}

